{% extends 'base.html' %}

<!--  -->
{% for mess in get_flashed_messages() %}
<div class="alert alert-success fade show" role="alert">
  <button
    type="button"
    class="fade close"
    data-dismiss="alert"
    aria-label="Close"
  >
    <span aria-hidden="true">&times;</span>
  </button>
  {{mess}}
</div>
{% endfor %}
<!--  -->

{% block content %}
<h1>Fill in the form bellow to update user's</h1>
<div class="jumbotron">
  <form method="POST">
    {{updtform.hidden_tag()}} <br />
    {{updtform.fName.}} <br />
    {{updtform.fName.label}}<br />
    {{updtform.lName.label}}<br />
    {{updtform.lName}} <br />
    {{updtform.username.label}}<br />
    {{updtform.username}} <br />
    {{updtform.password.label}}<br />
    {{updtform.password}} <br />
    <br />
    {{updtform.submit()}}
  </form>
  <!--  -->
  {% endblock %}
</div>
