{% extends 'base.html' %}
<!--  -->
{% block content %}

<!--  -->
{% for mess in get_flashed_messages() %}
<div class="alert alert-success fade show" role="alert">
  <button
    type="button"
    class="fade close"
    data-dismiss="alert"
    aria-label="Close"
  >
    <span aria-hidden="true">&times;</span>
  </button>
  {{mess}}
</div>
{% endfor %}
<!--  -->
<h1 class="title">This is admin index page !</h1>
<div class="jumbotron">
  <a href="{{url_for('books.add')}}">
    <button type="button" class="btn-manage btn btn-outline-info btn-lg">
      Manage books
    </button>
  </a>
  <a href="{{url_for('users.account')}}"></a>
  <button type="button" class="btn-manage btn btn-outline-info btn-lg">
    Manage Users
  </button>
  </a>

  <button type="button" class="btn-manage btn btn-outline-info btn-lg">
    Add Administrator
  </button>
</div>
{% endblock %}
