{% extends 'base.html' %}

<!--  -->
{% block content %}

<!--  -->
{% for mess in get_flashed_messages() %}
<div class="alert alert-success fade show" role="alert">
  <button
    type="button"
    class="fade close"
    data-dismiss="alert"
    aria-label="Close"
  >
    <span aria-hidden="true">&times;</span>
  </button>
  {{mess}}
</div>
{% endfor %}

<h1>Fill in the forms bellow to manage books</h1>
<div class="manage-page container">
  <div class="jumbotron-form jumbotron">
    <form method="POST">
      {{addform.hidden_tag()}} <br />
      {{addform.id.label}}<br />
      {{addform.id}} <br />
      {{addform.ISBN.label}}<br />
      {{addform.ISBN}} <br />
      {{addform.title.label}}<br />
      {{addform.title}} <br />
      {{addform.author.label}}<br />
      {{addform.author}} <br />
      {{addform.publisher.label}}<br />
      {{addform.publisher}} <br />
      {{addform.description.label}}<br />
      {{addform.description}} <br />
      <br />
      <!-- buttons -->
      {{addform.add(class="btn btn-outline-success")}}
      <!--add button -->
      {{addform.update(class="btn btn-outline-warning")}}
      <!--update button -->
      {{addform.delete(class="btn btn-outline-danger")}}
      <!--delete button -->
    </form>
  </div>

  <div class="database-view jumbotron">
    <span>
      <h6>
        If you want to see the list of books in database press the button
        bellow.
      </h6>
      <br />
      <button class="btn btn-outline-info">Database</button>
    </span>
    <hr />
    <table id="tab1" style="width: 100%">
      <tr>
        <th>ID</th>
        <th>ISBN</th>
        <th>Title</th>
        <th>Author</th>
        <th>Publisher</th>
        <th>Description</th>
      </tr>
      <tr>
        <!-- <td>{{ID}}</td> -->

        <td>{{id}}</td>
        <td>{{ISBN}}</td>
        <td>{{title}}</td>
        <td>{{author}}</td>
        <td>{{publisher}}</td>
        <td>{{description}}</td>
      </tr>
    </table>
    <hr />
  </div>
</div>
<!--  -->
{% endblock %}
