{% extends 'base.html' %} {% block content %}
<br />
<h1>Welcome to registering page!</h1>
<p>Fill in the form below to create a personal account</p>
<br />
<div class="jumbotron container row g-3">
  <form method="POST">
    {{userform.hidden_tag()}} <br />
    {{userform.firstName.label}}<br />
    {{userform.firstName()}}<br />
    {{userform.lastName.label}}<br />
    {{userform.lastName()}}<br />
    {{userform.email.label}}<br />
    {{userform.email()}} <br />
    {{userform.username.label}} <br />
    {{userform.username()}} <br />
    {{userform.password.label}}<br />
    {{userform.password()}} <br />
    {{userform.pass_confirm.label}}<br />
    {{userform.pass_confirm()}}<br />
    {{userform.submit()}}<br />
  </form>
</div>
{% endblock %}
